@import "tailwindcss";

html{
  background-color: #2E2F33;
}

@media print {
    :root {
      color-scheme: light;
    }
}
  
@plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }